* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    
}

/*ELEMENTS*/
img {
    max-width: 100%;
}

img a {
    border: none;
}

ul {
    list-style: none;
}

p {
    margin: 20px 0 0 0;
}

button {
    outline: none !important;
    border: none !important;
    appearance: none !important;
}
